body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*NavBar*/
.navbar-brand{
  margin: 8px 8px;
}

.nav-link{
  margin: 8px 8px; 
}

/*Homepage*/
.homepage, .addquestion-cont, .answers-cont{
  padding-top: 40px;
  padding-bottom: 40px;
  width: 80%;
  margin: 0 auto;
};

/*Answers Component*/
.post-answer{
  padding-top: 12px;
}


